# Django Secret Key - Üretim ortamında mutlaka değiştirin!
SECRET_KEY=your-secret-key-here

# Debug Modu - Üretim ortamında False olmalıdır
DEBUG=True

# İzin verilen hostlar - Üretim ortamında domain adınızı ekleyin
ALLOWED_HOSTS=127.0.0.1,localhost
